body{
    background-color: white;
}

.container-0 {
    text-align: center;
    margin-top: 10%;
    
}

.container-01 {
   float: left;
   width: 10%;
   padding-left: 30%;
   margin-top: 15.5%;
  
}

.container-02 {
    float: left;
    width: 9%;
    padding: 2%;
    margin-top: 14%;
}

.container-03 {
    float: left;
    width: 8%;
    padding: 2%;
    margin-top: 14%;
}

.container-04 {
    float: left;
    width: 30%;
    padding: 2%;
    margin-top: 14%;

}
